@use "base/variables" as vars;


@forward "base/home";

body {
    background-color: #ffffff;
    color: vars.$black;
    overflow-x: hidden;
    height: 100%;
    font-size: 16px;
    font-family: vars.$bodyFont;
}

.button {
    font-weight: 700;
    justify-content: center;
    transition: all 0.33s;
    cursor: pointer;
    display: flex;
}