/*
============== Global Styles =============
*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: #111a26;
    font-family: 'DM Sans', sans-serif;
    color: #c5d1d9;
    overflow-x: hidden;
    height: 100%;
    font-size: 16px;
}

input, textarea {
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}

.nickainley-font {
    font-family: 'Nickainley', sans-serif;
}

main {
    width: 100%;
    height: 100%;
}

section {
    padding: 50px 20px 50px 20px;
}


.theme-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    height: 100%;
}

h1 {
    font-size: 2.5rem;
}

a, button {
    color: #c5d1d9;
    font-size: 16px;
}

p {
    line-height: 22px;
}
.logo {
    fill: #c5d1d9;
}

.display-none {
    display: none;
}


.bg-color {
    background-color: #ffffff;
}

.secondary-color {
    background-color: #000;
}

.complimentary-color {
    
}

/* Header Nav, starting from mobile */

header {
    background-color: #111a26;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo-container {
    display: flex;
    align-items: center;
    width: 35px;
    max-width: 60px;
    height: auto;
    margin-left: 20px;
}

header .logo {
    width: 100%;
}

.header-nav ul {
    display: flex;
    justify-content: space-around;
}

.header-nav li a {
    padding: 5px 10px;
}

.header-nav i {
    margin-right: 5px;
}

.header-nav span {
    display: none;
}

    @media (min-width: 481px) {
        header .logo-container {
            width: 10vw;
        }
    }

    @media (min-width: 769px) {
        header .logo-container {
            width: 60px;
        }

        .header-nav span {
            display: inline-block;
        }
        
    }

/* Footer Nav, starting from mobile */
footer {
    width: 100%;
    height: auto;
    background-color: #64798c;
    padding: 50px 20px;
}

footer .theme-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1080px;
    margin: 0 auto;
}

footer h2 {
    font-size: 2rem;
    padding-bottom: 15px;
}

footer .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

footer .logo-container {
    width: 40%;
    align-self: center;
}

.contact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.contact-section input, .contact-section textarea {
    background-color: rgba(17, 26, 38, 0.3);
    border: solid 2px rgb(17, 26, 38);
    text-decoration: none;
    padding: 10px;
    width: 100%; 
}

.contact-section input::placeholder, .contact-section textarea::placeholder {
    color: #c5d1d9;
    opacity: 0.5;
}

footer .email-input {
    margin-bottom: 35px;
    max-width: 255px;
}

.contact-section .message-input {
    max-width: 480px;
}

.contact-section .message-input textarea {
    width: 100%;
    height: 200px;
}

footer .contact-info * {
    margin: 7px 0;
}

footer .contact-info a {
    display: block;
}

footer h3 {
    font-weight: 700;
}

footer nav {
    width: 100%;
}

.footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer-nav ul li {
    flex-basis: auto;
    padding: 5px;
}

.footer-nav a i {
    margin-right: 5px;
}


.line-break {
    width: 100%;
    height: 3px;
    background-color: #111a26;
    border-radius: 2px;
    opacity: 0.3;
}

footer .socials {
    margin: 50px auto;
    display: flex;
    width: 50%;
    max-width: 250px;
    justify-content: space-evenly;
    font-size: 24px;
}

.copyright {
    padding-bottom: 10px;
}

@media (min-width: 769px) {
    footer .content {
        flex-direction: row;
    }

    footer .logo-container {
        width: 30%;
    }

    footer .contact-content {
        flex-direction: column;
    }

    footer .contact-section {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

    .footer-nav {
        width: auto;
    }

    .footer-nav ul {
        flex-direction: column;
        align-items: flex-start;
        width: 92px;
    }
}

/*
============== Home Page =============
*/

/* Default Styles */
#banner, #featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Banner Section */
#banner .logo-container {
    width: 40%;
    padding: 50px 0px 20px 0px;
}

#banner h2 {
    font-weight: 500;
    padding: 5px 0;
}

/* Featured Section */

#featured h2 {
    font-size: 2rem;
}

.feature-blocks {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#featured .content {
    width: 100%;
    position: relative;
    margin: 40px 0px;
    padding: 0 10px;
}

#featured .content h3 {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0;
    left: 50%;
    width: 100%;
    text-shadow: 2px 2px 3px black;
}

#featured .image-container {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

#featured .image-container a {
    border-radius: inherit;
}

#featured .image-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: inherit;
}

#featured .chip-container {
    display: flex;
    width: calc(100% - 40px);
    margin: 0 20px;
    position: absolute;
    bottom: 0;
    transform: translate(0, 90%);
    z-index: -1;
}

#featured .chip {
    display: flex;
    align-items: center;
    border: #c5d1d9 solid 2px;
    padding: 10px 15px;
    margin-right: 10px;
}

@media (min-width: 769px) {
    #banner {
        flex-direction: row;
        justify-content: space-around;
        height: 80vh;
    }

    #banner .titles {
        display: flex;
        flex-direction: column-reverse;
    }

    #banner h1 {
        font-size: 5vw;
    }
    
    #banner h2 {
        font-size: 2vw;
        padding-top: 10px;
    }

    #featured {
        height: 50vw;
    }

    .feature-blocks {
        flex-direction: row;
    }

    .feature-blocks .content {
        margin: 40px 20px;
        height: 25vw;
    }

    #featured .image-container img {
        height: 25vw;
    }

    #featured h2 {
        font-size: 4vw;
    }
    #featured .content h3 {
        font-size: 2.7vw;
    }
    
}

/*
============== About Me Page =============
*/

.banner-sec {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner-sec .images-of-me {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 80px;
    max-width: 800px;
}

.portrait {
    max-width: 80%;
    border-radius: 10px;
    border: #64798c solid 2px;
}

.portrait:nth-child(2), .portrait:nth-child(3) {
    position: absolute;
    box-shadow: #64798c 0px 0px 5px;
}

.portrait:nth-child(2) {
    top: 4px;
    left: 0;
    width: 26vw;
}

.portrait:nth-child(3) {
    bottom: 0px;
    right: 0;
    width: 33vw;
}

.banner-sec .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: calc(100% + 40px);
    padding-top: 50px;
}

.banner-sec h1 {
    padding-bottom: 20px;
}

.core-values-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.core-values-sec h2 {
    font-size: 2rem;
    padding-bottom: 20px;
}

.core-values-sec .values {
    display: grid;
    grid-template: auto / repeat(2, 40vw);
    gap: 10px 20px;
    justify-items: center;
}

.core-values-sec .values button {
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 264px;
    padding: 0;
    border: solid #c5d1d9 2px;
    font-weight: 700;
    justify-content: center;
}

.mission-sec {
    display: flex;
    text-align: center;
    flex-direction: column;
}

/* ***** */
.mission-sec h2 {
    font-size: 2rem;
    padding-bottom: 20px;
}

@media (min-width: 769px) {

    .banner-sec {
        flex-direction: row;
        justify-content: center;
    }

    .portrait:nth-child(2) {
        width: 12vw;
        max-width: 250px;
    }
    
    .portrait:nth-child(3) {
        width: 15vw;
        max-width: 280px;
    }

    .mission-sec h2, .core-values-sec h2 {
        font-size: 4vw;
    }

    .banner-sec .content {
        max-width: 600px;
        align-self: center;
        padding-top: 0;
    }
}

@media (min-width: 944px) {
    .core-values-sec .values {
        grid-template-columns: repeat(3, 264px);
    }
}


/*
============== Projects Page =============
*/

.projects section {
    padding: 0 20px;
}

.projects .flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects .proj-img-display {
    height: 65vw;
    width: 100%;
    min-height: 280px;
    max-width: 1300px;
    background: center / contain no-repeat;
}

.projects .brightsky-mob .proj-img-display{
    background-image: url(../images/brightsky-mobile-s.png);
}
.projects .vizro .proj-img-display {
    background-image: url(../images/vizro-s.png);

}
.projects .js-web .proj-img-display {
    background-image: url(../images/js-website-s.png);

}
.projects .brightsky-web .proj-img-display {
    background-image: url(../images/brightsky-web-s.png);

}

.projects .content {
    max-width: 500px;
}

.projects h1, .projects h2 {
    font-size: 2.5rem;
    padding-bottom: 15px;
}

.projects .text {
    margin-bottom: 20px;
}

.projects button, .prototype-btn {
    max-width: 264px;
    padding: 15px 30px;
    border: solid #c5d1d9 2px;
    font-weight: 700;
    justify-content: center;
    transition: all 0.33s;
    cursor: pointer;
}

.projects button:hover {
    box-shadow: inset 0 0 10px;
}

.projects .padding-bottom {
    padding-bottom: 50px;
}

@media (min-width: 769px) {

    .projects .flex {
        flex-direction: row;
        justify-content: space-around;
    }

    .projects .flex-reverse {
        flex-direction: row-reverse;
    }

    .projects h1, .projects h2 {
        font-size: 2.7vw;
    }

    .projects .padding-bottom {
        padding-bottom: 0px;
    }

    .projects .brightsky-mob .proj-img-display {
        background-image: url(../images/brightsky-mobile-m.png);
    }
    .projects .vizro .proj-img-display {
        background-image: url(../images/vizro-m.png);
    }
    .projects .js-web .proj-img-display {
        background-image: url(../images/js-website-m.png);
    }
    .projects .brightsky-web .proj-img-display {
        background-image: url(../images/brightsky-web-m.png);
    }
}
@media (min-width: 992px) {
    .projects .brightsky-mob .proj-img-display{
        background-image: url(../images/brightsky-mobile-lg.png);
    }
    .projects .vizro .proj-img-display{
        background-image: url(../images/vizro-lg.png);
    }
    .projects .js-web .proj-img-display{
        background-image: url(../images/js-website-lg.png);

    }
    .projects .brightsky-web .proj-img-display{
        background-image: url(../images/brightsky-web-lg.png);
    }
}

/*
============== Artifacts CSS =============
*/

.artifact .title-sec {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.artifact h1 {
    text-align: center;
    font-size: 4.5rem;
    max-width: 500px;
    padding-bottom: 50px;
}
.artifact h2 {
    font-size: 2.5rem;
}

.artifact .topics-sec {
    display: flex;
    flex-direction: column;
}

.artifact .topics {
    height: auto;
}

.artifact .topic {
    width: 100%;
    padding: 15px 30px;
    border: solid #c5d1d9 2px;
    font-weight: 700;
    justify-content: center;
    transition: all 0.33s;
    cursor: pointer;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artifact .topic p {
    font-weight: 400;
    padding:10px 0 10px 0;
}

.artifact .topic h3 {
    font-size: 1.5rem;
}

.artifact .topic:hover {
    box-shadow: inset 0 0 10px;
}

.artifact .mobile-display img {
    width:  100%;
}

.artifact img {
    max-width: 100%;
}

.artifact .desktop-display {
    display: none;
}

.artifact .opacity-fltr {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.artifact .desktop-display .overlay {
    width: 90%;
    padding: 20px;
    max-width: 450px;
    border-radius: 0px 750px 750px 0px;
    background-color: #64798c;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artifact .overlay h4 {
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 20px;
    padding-right: 35px;
}

.artifact .overlay p {
    padding-right: 30px;
}

.artifact .results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artifact .results .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artifact .results h3 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 20px 0;
    text-align: center;
}

.artifact .results img {
    padding: 0 20px;
}
.artifact .results p {
    padding: 20px 0;
    text-align: center;
    max-width: 1000px;
}

.artifact .artifact-all-pages {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.artifact .artifact-all-pages img {
    margin-bottom: 50px;
}

@media (min-width: 769px) {

    .artifact .results h2 {
        font-size: 3.7vw;
    }

    .artifact .mobile-display {
        display: none;
    }

    .artifact .topics-sec {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .artifact .topics {
        flex-basis: 40%;
    }

    .artifact .desktop-display {
        position: relative;
        display: block;
        flex-basis: 40%;
        height: inherit;
        background: center / cover no-repeat;
        background-image: url(../images/comp-analysis.jpg);
    }

    .artifact .results .content-mobile {
        flex-direction: row;
        justify-content: center;
    }

    .artifact .desktop-display .inactive {
        display: none;
    }
}

/* Artifacts CSS for Specific Pages */

    /* BrightSky Web Layout */
    .brightsky-logo {
        width: 500px;
    }
